<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,&#xD;&#xA;                 Microsoft.Practices.Unity.Configuration"
                                                         />
  </configSections>
  <connectionStrings>
    <add name="DeliveryDataModelContainer" connectionString="metadata=res://*/DeliveryDataModel.csdl|res://*/DeliveryDataModel.ssdl|res://*/DeliveryDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDb;Initial Catalog=Deliveries;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <unity>

    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,&#xD;&#xA;                     Microsoft.Practices.Unity"
                                               />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,&#xD;&#xA;                     Microsoft.Practices.Unity"
                                               />

      <!-- Custom object types  -->
      <typeAlias alias="IDeliveryProvider" type="DeliveryCo.Business.Components.Interfaces.IDeliveryProvider, DeliveryCo.Business.Components.Interfaces"/>
      <typeAlias alias="DeliveryProvider" type="DeliveryCo.Business.Components.DeliveryProvider, DeliveryCo.Business.Components"/>
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>

          <type type="IDeliveryProvider" mapTo="DeliveryProvider"/>
        </types>
      </container>
    </containers>
  </unity>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/PublisherMessageQueueTransacted"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IPublisherService"
        contract="PublisherService.IPublisherService" name="NetMsmqBinding_IPublisherService" />
      <endpoint address="net.tcp://localhost:9011/SubscriptionService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISubscriptionService"
        contract="SubscriptionService.ISubscriptionService" name="NetTcpBinding_ISubscriptionService">
        <identity>
          <userPrincipalName value="GIO-SB\sergi" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="DeliveryCo.Services.DeliveryService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.tcp://localhost:9030/DeliveryService" binding="netTcpBinding" contract="DeliveryCo.Services.Interfaces.IDeliveryService" bindingConfiguration="TransactionalTCP"/>
        <endpoint address="net.tcp://localhost:9030/DeliveryService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IPublisherService">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="TransactionalTCP" transactionFlow="true" />
        <binding name="NetTcpBinding_ISubscriptionService" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
